body {
    background: linear-gradient(45deg, rgba(35,70,191,1) 0%, rgba(5,11,30,1) 100%);
}

.navbar-brand {
    margin-left: 5%;
}

.collapse {
    margin-right: 5%;
}

.nav-item {
    margin-right: 5%;
}

h1 {
    color: white;
    font-size: 1050%;
}

h2 {
    color: white;
}

.circle {
    border-radius: 100%;
    width: 64px;
    height: 64px;
    padding: 10px;
    background: #2f5cfa;
    border: 3px solid #2f5cfa;
    color: white;
    text-align: center;
    font: 32px Arial, sans-serif;
}